[{{ rclone_share }}]
type = {{ rclone_share_type }}
satellite_address = {{ rclone_satellite_address }}
api_key = {{ rclone_api_key }}
passphrase = {{ rclone_passphrase }}
access_grant = {{ rclone_access_grant }}
