[Interface]
PrivateKey = {{ wireguard_private_key }}
Address = {{ wireguard_ip + '/32' }}
{% if wireguard_exit_node is sameas true %}
PostUp = iptables -t nat -I POSTROUTING 1 -s {{ wireguard_network }} -o en+ -j MASQUERADE
PostUp = iptables -I FORWARD 1 -o %i -j ACCEPT
PostUp = iptables -I FORWARD 2 -i %i -j ACCEPT
PostDown = iptables -t nat -D POSTROUTING -s {{ wireguard_network }} -o en+ -j MASQUERADE
PostDown = iptables -D FORWARD -o %i -j ACCEPT
PostDown = iptables -D FORWARD -i %i -j ACCEPT
{% endif %}
ListenPort = 51820
{% for host in groups.wireguard|reject('==', inventory_hostname) %}

[Peer] # {{ host }}
PublicKey = {{ hostvars[host].wireguard_public_key }}
{% if wireguard_default_gateway is defined and wireguard_default_gateway == host  %}
AllowedIPs = 0.0.0.0/0
{% else %}
AllowedIPs = {{ hostvars[host].wireguard_ip + '/32' }}
{% endif %}
PersistentKeepalive = 23
Endpoint = {{ hostvars[host].wireguard_endpoint }}
{% endfor %}
