[Interface]
PrivateKey = {{ wireguard.private_key }}
ListenPort = 51820

{% for host in groups.wireguard_peers %}
{% if host != inventory_hostname %}
[Peer] # {{ host }}
PublicKey = {{ hostvars[host].wireguard.public_key }}
AllowedIPs = {{ hostvars[host].wireguard.ip + '/32' }}
Endpoint = {{ hostvars[host].wireguard.endpoint }}
{% if inventory_hostname in groups.wireguard_users and host in groups.wireguards %}
PersistentKeepalive = 25
{% endif %}

{% endif %}
{% endfor %}
